<footer>
    <address id="contact">
        Autor: <a href="mailto:stefana.daria.sd@gmail.com">Daria Clem</a><br>
        Locație: <a href="https://www.google.com/maps/@44.4431347,26.0655589,16z" target="_blank">Cămin
            Grozăvești</a><br>
        Telefon: <a href="tel:0771565233">0771565233</a><br>
        Platforma de socializare: <a href="https://wa.me/40771565233" target="_blank">WhatsApp</a>
        <p><small>Copyright &copy;</small></p>
        <p>Site-ul a fost creat pe data de
            <time datetime="2022-03-21"> 21 martie 2022.</time>
        </p>
    </address>
    <div class="dreapta">
        <a href="#">
            <img src="../../resources/images/upward-arrow.png" alt="Începutul paginii">
        </a>
    </div>
</footer>