<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Cafea la muzeu</title>
    <meta charset="UTF-8"/>
    <meta name="keywords"
          content="muzeu, muzee, arta, artă, picturi, tablou, Pictură, desen, schiță, pictor, artist, Sculptură, grafică, tablouri, opere, statui">
    <meta name="description"
          content="Opere de artă, muzee de artă, pictori renumiți, compoziții, Europa, Vincent van Gogh, Michelangelo Buonarroti, Pablo Picasso, Salvador Dalí, Leonardo da Vinci, Constantin Brâncuși, Ștefan Luchian, Nicolae Tonitza, Nicolae Grigorescu, Claude Monet, Frida Kahlo, Rembrandt van Rijn">
    <meta name="author" content="Daria Clem">
    <link rel="apple-touch-icon" sizes="180x180" href="../../resources/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../resources/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../resources/icons/favicon-16x16.png">
    <link rel="mask-icon" href="../../resources/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="../../resources/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="./resources/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../resources/css/main.css">
    <script src="../../resources/js/fisier.js"></script>
</head>

<body>
<input type="button" id="buton">
<br>
<br>
<label for="cantitate">Alegeți dimensiunea fontului: </label>
<input type="number" id="cantitate" name="cantitate" min="10" max="20" value="15">
<input id="sub" type="submit" value="Submit">
<%- include("../fragmente/header.ejs") %>
<main>
    <div id="container">
        <section id="detalii">
            <h2>Perspectivă</h2>
            <% if(!locals.utilizator) { %>
                <form method="post" action="/login">
                    <label>
                        Username: <input type="text" name="username" required>
                    </label>
                    <label>
                        Parolă:<input type="password" name="parola" required>
                    </label>
                    <input type="submit" value="Trimite">
                </form>
            <% } %>
            <section>
                <h3>Arta</h3>
                <p><b>Arta</b> a constituit din totdeauna cea mai <i>profundă</i> cale de a-ți oglindi sufletul și de
                    a-ți
                    dezvălui trăirile, gândurile, sentimentele, visurile. Arta reușește să <em>transcendă</em> timpul și
                    distanța, fiind eternă. </p>
            </section>
            <figure>
                <picture>
                    <source media="(min-width:1200px)" srcset="../../resources/images/calculator.jpg">
                    <source media="(min-width:992px)" srcset="../../resources/images/laptop.jpg">
                    <source media="(min-width:768px)" srcset="../../resources/images/tableta.jpg">
                    <img src="../../resources/images/telefon.jpg" width="100%">
                </picture>
                <figcaption><q>Apoteoza lui Hercule</q>, <i>François Lemoyne</i></figcaption>
            </figure>
            <br>
            <div class="video">
                <p><a href="https://www.youtube.com/embed/bI1NYSCoANU" target="YouTube video player">Despre artă</a></p>
                <iframe src="https://www.youtube.com/embed/bI1NYSCoANU" width="50%" height="300%"
                        title="YouTube video player" allow="accelerometer; autoplay; clipboard-write;
          encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <br>
            <section>
                <h2>Obiectivele site-ului</h2>
                <p>Acest site își propune să aducă mai aproape de cititori arta și tot ce este asociat cu aceasta.
                    Într-o lume ce se îndreaptă spre o uniformizare
                    a tot ce înseamnă tradiție, grija pentru suflet este adesea neglijată. În această pagină veți găsi o
                    colecție cu mari opere de artă, din diverse
                    domenii: atât din pictură, cât și din sculptură, care aduc cu ele și o poveste, fie ea una
                    inspirațională, tristă, fericită sau amuzantă. Ele au
                    scopul de a vă destinde și de a vă prezenta o altă lume, cea din culisele realizării unor creații ce
                    sunt și vor fi în continuare monumentale.
                    Multe dintre acestea, stârnind controverse la vernisajul lor, vor fi, cu siguranță, subiecte
                    interesante la o ieșire cu prietenii.</p>
                <h4>Arta nu trebuie să fie plictisitoare. Prezentarea ei în viața de zi cu zi ne face să credem că un
                    tablou este o pânză pictată fără vreo
                    semnificației aparte. Ține de noi să schimbăm asta.</h4>
            </section>
            <p>Puteți descărca acest wallpaper apăsând click pe fotografie: </p>
            <div id="poza">
                <a href="../../resources/images/geordanna-cordero-2Qg4y32pdCc-unsplash.jpg" download="Fundal">
                    <img src="../../resources/images/geordanna-cordero-2Qg4y32pdCc-unsplash.jpg" alt="Fundal"
                         width="100%">
                </a>
            </div>
            <br>
            <h2>Materiale de artă</h2>
            <p>În continuare, pentru cei pentru care arta este mai mult decât un subiect de discuție, vă punem la
                dispoziție o serie de site-uri cu materiale
                de pictură și sculptură care sperăm să vină în sprijinul dumneavoastră. </p>
            <ul>
                <li><a href="https://www.colorit.ro/" target="_blank">Colorit</a></li>
                <li><a href="https://www.magazinulartistilor.ro/" target="_blank">Magazinul Artiștilor</a></li>
                <li><a href="https://www.profiart.ro/" target="_blank">Profi Art</a></li>
                <li><a href="https://www.pictorshop.ro/ro/" target="_blank">Pictor Shop</a></li>
                <li><a href="https://www.artpic.ro/" target="_blank">Artmie</a></li>
            </ul>
            <h2>Curiozități despre lumea artei</h2>
            <details>
                <summary><q>Gioconda</q>, <i>Leonardo da Vinci</i></summary>
                <p>Leonardo da Vinci a pictat buzele Mona Lisei timp de 12 ani.</p>
            </details>
            <details>
                <summary><i>Vincent van Gogh</i></summary>
                <p>Pictorul <i>Vincent van Gogh</i> a vândut un singur tablou în timpul vieții sale (<q>The red
                        Vineyard</q>). Operele acestuia au devenit
                    valoroase abia după moartea sa.</p>
            </details>
            <details>
                <summary><i>Statuia libertății</i></summary>
                <p><i>Statuia libertății</i> este cea mai mare statuie din cupru, sculptată cu ciocanul, din lume.</p>
            </details>
            <details>
                <summary><i>Pablo Picasso</i></summary>
                <p>Numele întreg al lui Pablo Picasso conține 14 nume. El este compus din numele membrilor familiei lui,
                    precum și numele unor sfinți.
                    Pe marele pictor îl chema Pablo Diego José Francisco de Paula Juan Nepomuceno María de los Remedios
                    Cipriano de la Santísima Trinidad Ruiz
                    y Picasso.</p>
            </details>
        </section>
        <section id="java">
            <br>
            <br>
            <br>
            <p id="ptLista"><span id="spann">&#10004; To do list </span>pentru un artist începător</p>
            <ul id="todolist">
                <li><a>Pictează cu vopsea neobișnuită (cafea, ceai, vin)</a></li>
                <li><a>Pictează pe obiecte din casă pe care nu le mai folosești</a></li>
                <li><a>Schițează peisaje din natură</a></li>
                <li><a>Reprodu picturi celebre</a></li>
                <li><a>Pictează o persoană pe piele</a></li>
                <li><a>Reprodu o caricatură</a></li>
                <li><a>Pictează o piesă vestimentară</a></li>
                <li><a>Încearcă să reproduci un obiect din memorie</a></li>
            </ul>
            <br>
        </section>
        <section id="istoric">
            <h2>Scurt istoric</h2>
            <p>Arta și-a găsit dintotdeauna sprijin în sufletele oamenilor care, privind lumea și natura,
                își doreau să o transpună în ceva veșnic, care să rămână generațiilor următoare.</p>
            <section>
                <h3>Paleoliticul superior</h3>
                <p>Încă din timpul <em>Paleoliticului superior</em> (acum circa 40.000-50.000 de ani în urmă),
                    au început să apară pe pereții peșterilor picturi care surprindeau viața de zi cu zi a triburilor
                    din care făceau parte pictorii. În esență simple, acestea dezvăluie totuși valoarea de necontestat
                    a artei. Într-o perioadă a evoluției speciei umane în care cunoașterea și evoluția spirituală erau
                    niște noțiuni inexistente, oamenii simțeau chemarea spre frumos, spre artă.</p>
                <p>Complexurile cele mai vestite sunt: grotele Lascaux, Trois-Frérès, Niaux și Chauvet în Franța,
                    grota din Altamira în Spania, iar în România Peștera Cuciulat, Sălaj, Peștera Gaura Chindiei II
                    și Peștera Coliboaia.</p>
                <h3>Egiptul Antic</h3>
                <p>În urmă cu peste 5000 de ani, egiptenii începeau să picteze pereții mormintelor faraonilor cu
                    diverse reprezentări din mitologie, dar și cu diverse aspecte ale vieții cotidiene. Ei își
                    reprezentau
                    conducătorii la o scară mai mare față de oamenii de rând, pentru a le sublinia importanța. </p>
                <h3>Pictura bizantină</h3>
                <p>Picturile creștinismului timpuriu, datate în secolele al III-lea și al IV-lea, au decorat catacombele
                    romane și pereții primelor biserici sub forma de mozaic. Apar primele stilizări în cadrul
                    reprezentării
                    temelor din Noul Testament. Astfel, Hristos este reprezentat ca un păstor, ceea ce amintește de
                    reprezentarea zeului Hermes; învierea este simbolizată prin reprezentarea poveștii din Vechiul
                    Testament
                    a profetului Iona care scapă din peștele care îl înghițise. O valoare deosebită o au mozaicurile
                    descoperite la bazilicile din Ravenna (secolul al VI-lea). Personajele sunt reprezentate stilizat,
                    cu
                    figurile ușor alungite, privind în depărtare parcă dincolo de timp. O alta temă caracteristică artei
                    bizantine o constituie lumea cerească. Icoanele, picturi pe lemn ale imaginii lui Hristos sau
                    Fecioarei,
                    sau reprezentări ale sfinților, constituiau obiect de venerare.</p>
                <h3>Pictura medievală</h3>
                <p>Arta evului mediu - realizată în afara granițelor Imperiului Bizantin - are câteva trăsături
                    distinctive.
                    Astfel, arta anglo-irlandeză care începe să înflorească în perioada cuprinsă între secolele al
                    VII-lea
                    și al IX-lea în mănăstirile Insulelor Britanice, este caracterizată prin decorații de tip
                    caligrafic.
                    Celebrul manuscris Evanghelia Lindisfarne (698? - 721, British Library, Londra) conține decorații
                    liniare,
                    combinând elemente celtice și germanice.</p>
                <h3>Renașterea</h3>
                <p>Această revoluție culturală ce se întinde de-a lungul secolelor al XV-lea și al XVI-lea, care a
                    debutat în Italia, a stimulat interesul pentru cultura clasică și a redat încrederea în individ.
                    Realizările
                    antichității au fost apreciate la justa lor valoare, dar și cea a potențialului uman.</p>
                <h3>Barocul</h3>
                <p>Arta secolului al XVII-lea, arta barocă, este caracterizată prin dinamism, spre deosebire de cea
                    renascentistă care este relativ statuară. Caracteristice stilului baroc sunt liniile diagonale de
                    compoziție,
                    care conferă senzația de mișcare, și utilizarea clarobscurului. Ambele trăsături au creat un stil
                    grandios,
                    dramatic, apropiat spiritului vital al Contrareformei. Mulți dintre pictorii începutului secolului
                    al
                    XVII-lea
                    părăsesc artificialitatea manierismului în încercarea de a se apropia tot mai mult de lumea
                    naturală.</p>
                <h3>Neoclasicismul</h3>
                <p>În a doua jumătate a secolului al XVIII-lea are loc o revoluție în pictură, când exuberanța stilului
                    rococo este înlocuită de sobrietatea neoclasicismului. La aceasta a contribuit un anumit context
                    istorico-social.
                    Săpăturile arheologice efectuate pe la mijlocul secolului, în Italia și Grecia, au scos la lumină
                    diverse
                    clădiri
                    antice, care au servit drept inspirație pentru arhitecții englezi și francezi.</p>
                <h2>Secolul al XIX-lea</h2>
                <h3>Romantismul</h3>
                <p>Succesoare imediată a neoclasicismului, romantismul introduce gustul pentru medieval și mister, dar
                    și
                    pentru
                    pitorescul și sublimul din natură. Rolul jucat de imaginația individuală ce dă libertate emoției și
                    sentimentelor
                    înlocuiește abordarea intelectual-rațională a neoclasicismului.</p>
                <h3>Realismul</h3>
                <p>Pe la mijlocul secolului al XIX-lea, pictorul francez Gustave Courbet (1819-1877) respinge atât
                    neoclasicismul,
                    cât și romantismul și proclamă o nouă mișcare, realismul. Nu îl interesa pictura cu subiecte
                    istorice,
                    portrete
                    de șefi de stat sau subiecte de tip exotic. Consideră ca artistul trebuie să fie realist, să
                    reflecte
                    evenimente
                    cotidiene, la care să participe oameni obișnuiți. Mediul ales de Courbet pentru multe din pânzele
                    sale îl
                    constituie satul său natal, Ornans. Pictează muncitori construind o șosea, orășeni participând la
                    funeralii
                    sau oameni stând la masă și care ascultă muzică sau fumează.</p>
                <h2>Secolul al XX-lea</h2>
                <h3>Perioada antebelică</h3>
                <p>În aceasta perioadă, în Europa au apărut noi curente ca: fauvismul, expresionismul, cubismul,
                    futurismul,
                    constructivismul, neoplasticismul, dadaismul și suprarealismul. În Statele Unite au apărut mișcări
                    ca
                    sincronismul și precizionismul.</p>
                <h3>Perioada postbelică</h3>
                <p>După cel de-al Doilea Război Mondial (1939 - 1945), artiștii americani s-au afirmat elaborând noi
                    stiluri
                    sau dezvoltându-le pe cele apărute în alte țări. Este vorba de expresionismul abstract, op art și
                    pop art,
                    fotorealism și minimalism.</p>
            </section>
        </section>
    </div>
</main>
<%- include("../fragmente/footer.ejs") %>
</body>
</html>