<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Cafea la muzeu</title>
    <meta charset="UTF-8"/>
    <meta name="keywords"
          content="muzeu, muzee, arta, artă, picturi, tablou, Pictură, desen, schiță, pictor, artist, Sculptură, grafică, tablouri, opere, statui">
    <meta name="description"
          content="Opere de artă, muzee de artă, pictori renumiți, compoziții, Europa, Vincent van Gogh, Michelangelo Buonarroti, Pablo Picasso, Salvador Dalí, Leonardo da Vinci, Constantin Brâncuși, Ștefan Luchian, Nicolae Tonitza, Nicolae Grigorescu, Claude Monet, Frida Kahlo, Rembrandt van Rijn">
    <meta name="author" content="Daria Clem">
    <link rel="apple-touch-icon" sizes="180x180" href="../../resources/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../resources/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../resources/icons/favicon-16x16.png">
    <link rel="mask-icon" href="../../resources/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="../../resources/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="./resources/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../resources/css/main.css">
    <script src="../../resources/js/fisier.js"></script>
</head>

<body>
<input type="button" id="buton">
<%- include("../fragmente/header.ejs") %>
<main>
    <br>
    <p>Ai fost delogat.</p>
    <br>
</main>
<%- include("../fragmente/footer.ejs") %>
</body>
</html>